.input {
  border: 1px none transparent;
  background-color: rgba(255, 255, 255, 0.02);
  outline: none;
  border-radius: 12px;
  padding: 15px 20px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;

  &::placeholder {
    color: #747474;
  }
}