.layout {
  background-color: #202036;
  min-height: 100vh;
  display: flex;
  justify-content: center;

  &__loader {

  }

  &__container {
    width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__content {
    padding: 0 30px 30px 30px;
    min-height: 81.5vh;
  }
}