.bet-card {
  margin-bottom: 40px;

  .card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__counter {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;

    &_min, &_max {
      background-color: rgba(255, 255, 255, 0.02);
      font-size: 13px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 60px;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        background-color: rgba(224, 224, 255, 0.04);
      }
    }

    &_min {
      border-radius: 12px 0 0 12px;
    }

    &_max {
      border-radius: 0 12px 12px 0;
    }

    &_minus, &_plus {
      background-color: rgba(255, 255, 255, 0.02);
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 24px;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        background-color: rgba(224, 224, 255, 0.04);
      }
    }

    &_value {
      background-color: rgba(255, 255, 255, 0.02);
      border: none;
      outline: none;
      color: #fff;
      height: 40px;
      width: calc(100% - 80px);
      font-weight: 500;
      padding: 0 20px;
    }
  }

  &__data {

    &_info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      &-text {
        font-size: 14px;
        font-weight: 500;
      }

      &-percent {
        color: rgba(255, 255, 255, 0.6);
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;

    button {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    &_currency {
      color: rgba(255, 255, 255, 0.6);
      font-weight: 600;
      font-size: 14px;
      margin-left: 20px;
    }
  }
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity .5s ease;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity .5s ease-in;
}