.profile-referral {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__info {
    width: calc(50% - 15px);
  }

  &__statistic {
    width: calc(50% - 15px);
  }

  .card {
    width: 100%;
  }

  .referral-link-card {
    margin-bottom: 30px;

    input {
      text-overflow: ellipsis;
    }

    .input-group__title {
      color: rgba(255, 255, 255, 0.4);
      font-size: 13px;
    }

    &__text {
      margin-bottom: 20px;
    }
  }
}