.user-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    svg {
      width: 80px;
      height: 100%;
      margin-right: 20px;
      padding: 10px;
      border-radius: 12px;
      background-color: #2a2a41;
    }

    .active {
      cursor: pointer;
      transition: all .5s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.05);
      }
    }

    &_text {
      font-size: 20px;
      font-weight: 500;

      &-name {
        margin-bottom: 10px;
      }

      &-balance {
        color: rgba(255,255,255,0.6);
        font-size: 16px;
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;

    .btn {
      &:not(:last-child) {
        margin-right: 20px;
      }

      &-dark {
        padding: 15px;
      }
    }
  }
}