.radio-group {
  margin-bottom: 20px;

  &__title {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__element {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  display: none;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.1);
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #ff8800;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}