@import './core/variables/variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

//fonts

@font-face {
  font-family: 'Averta';
  src: url('./fonts/Averta/AvertaDemo-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Averta';
  src: url('./fonts/Averta/Averta-Semibold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Averta';
  src: url('./fonts/Averta/hinted-Averta-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face{
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face{
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}

@font-face{
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face{
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face{
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face{
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face{
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face{
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face{
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
}

//root

body {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
  transition: ease-in-out .3s;
}

input {
  transition: all .3s;

  &:hover {
    background-color: rgba(224, 224, 255, 0.04);
  }
}

.text-secondary {
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
  transition: all .3s;

  //&:hover {
  //  color: rgba(255, 255, 255, 1);
  //}
}

.text-success {
  color: #00ffaa;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.danger-link {
  color: #ff8800;

  &:hover {
    color: #fff;
  }
}

.errors-shower {
  color: #ff00aa;
  font-size: 12px;
  margin: 10px 0 20px 0;
  max-width: 350px;
}

.page-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px;
}

.input-bottom-placeholder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.4);
  font-size: 13px;
  font-weight: 500;

  &__left {
    display: flex;
  }

  &__right {
    display: flex;
    margin-left: 10px;
  }

  &_item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.small {
  font-size: 12px;
}

.info-text {
  padding: 20px 10px 0 10px;
  color: #1db37c !important;
}

table {

  .hidden-nickname {
    color: rgba(255, 255, 255, 0.4);
  }

  .table-user {
    display: flex;
    align-items: center;

    &__icon {
      display: flex;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 100px;
      }
    }
  }
}

.white-text {
  color: #fff !important;
}

.icon-select-option {
  display: flex;
  align-items: center;

  svg {
    margin-right: 10px;
  }
}

.active-dropdown {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.default-link {
  color: #ff8800;
}

$animationSpeed: 10s;

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-250px * 7))}
}

.slider {
  background: #2a2a41;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 150px;
  margin: auto;
  overflow:hidden;
  position: relative;
  width: 100%;
  padding: 0 20px;
  border-radius: 24px;

  &::before,
  &::after {
    background: linear-gradient(to right, rgba(42, 42, 65, 1) 0%, rgba(42, 42, 65, 0.08) 100%);
    content: "";
    height: 150px;
    position: absolute;
    width: 400px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed ease-in-out;
    animation-play-state:running;
    animation-fill-mode: forwards;
    display: flex;
    width: calc(250px * 2);
  }

  .slide-spinner {
    height: 150px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25px;
  }
  
  .slide-crossbar {
    position: absolute;
    left: 50%;
    margin: auto;
    width: 2px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.08);
  }
}