.dice-page {

  &__content {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;

    .card {
      flex-grow: 1;

      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }
}