.deposit-container {
  &__content {
    display: flex;
    justify-content: space-between;

    &_title {
      font-weight: bold;
      margin-bottom: 10px;
    }

    &_text {
      font-weight: 500;
      margin-bottom: 20px;
    }

    &_buttons {
      margin-top: 20px;
    }

    .card {
      &:first-child {
        width: calc(30% - 15px);
      }

      &:last-child {
        width: calc(70% - 15px);
      }

      .payment-options {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        &__item {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          background-color: rgba(255,255,255,0.02);
          border-radius: 12px;
          cursor: pointer;
          width: calc(25% - 10px);
          margin-right: 10px;
          margin-top: 10px;
          transition: all .5s;

          &:hover {
            background-color: rgba(255,255,255,0.05);
          }
        }
      }

      .input {
        width: 100%;
      }
    }
  }

  &__history {
    margin-top: 30px;
    .card {
      width: 100% !important;
    }
  }
}