.profile {

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    &_tabs {
      display: flex;

      &-tab {
        background-color: rgba(255, 255, 255, 0.01);
        border: 2px solid #2a2a41;
        color: rgba(255, 255, 255, 0.6);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 15px;
        transition: ease-in-out .3s;
        font-size: 14px;
        font-weight: 500;

        &:hover {
          cursor: pointer;
          background-color: #2a2a41;
        }

        &:not(:last-child) {
          margin-right: 15px;
        }

        svg {
          margin-left: 10px;
        }
      }

      .active {
        background-color: #2a2a41;
        color: #fff;
      }
    }
  }

  &__confirm {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid rgba(255, 136, 0, 0.6);
    background: rgba(255, 136, 0, 0.01);
    border-radius: 12px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: normal;
    color: rgba(255, 136, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_form {
      display: flex;
      align-items: flex-end;

      .input-group {
        margin-right: 20px;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    .card {
      width: calc(33.3% - 20px);

      input {
        width: 100%;
      }

      //&:not(:last-child) {
      //  margin-right: 20px;
      //}

      .input-group {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
}