.modal-overflow {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 40px;
  border-radius: 20px;
  background-color: #2a2a41;
  min-width: 400px;
  position: relative;

  &__close {
    position: absolute;
    right: 40px;
    top: 40px;

    svg {
      path {
        transition: ease-in-out .3s;
      }
    }

    &:hover {
      cursor: pointer;

      svg {
        path {
          &:last-child {
            fill: rgba(255, 255, 255, 0.35);
          }
        }
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    width: 100%;

    &_main {
      font-size: 24px;
      line-height: 24px;
      font-weight: 500;
      width: 20%;
    }

    &_additional {
      font-family: 'Averta', sans-serif;
      color: rgba(255,255,255, 0.6);
      font-size: 20px;
      line-height: 24px;
      width: 80%;
    }
  }

  &__content {
    padding: 20px 0 30px 0;
  }

  &__buttons {
    display: flex;

    button, a {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

.status-modal {
  width: 720px;

  .roulette-modal__info {
    margin-bottom: 0;
  }

  &__total {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    &_text {
      border-radius: 100px;
      text-transform: uppercase;
      font-size: 40px;
      font-weight: bold;
      padding: 15px 25px;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent;
    }

    .success {
      background: -webkit-linear-gradient(#ffcf00, #ff8800);
      text-shadow: 0 7px 10px rgba(255,136,0,0.3);
    }

    .danger {
      background: -webkit-linear-gradient(#e12d81, #c40047);
      text-shadow: 0 7px 10px rgba(196,0,71,0.3);
    }
  }

  &__info {
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &_title {
      width: 50%;
      margin-right: 20px;
      font-weight: bold;
    }

    &_value {
      width: 50%;
    }
  }
}