.roulette-modal {
  padding: 40px;
  width: 720px;

  &__info {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    &_item {
      width: 100%;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &-title, &-value {
        font-size: 13px;
      }

      &-title {
        width: 20%;
      }

      &-value {
        width: 80%;
        color: rgba(255,255,255, 0.6);
        display: flex;
        align-items: center;

        svg {
          margin-left: 5px;
          width: 20px;
          height: 20px;

          path {
            transition: ease-in-out .3s;
          }

          &:hover {
            cursor: pointer;

            path {
              &:last-child {
                fill: rgba(255,255,255, 0.35);
              }
            }
          }
        }
      }
    }
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;

    &_pot, &_players, &_count {
      padding: 15px;

      &-value {
        font-family: 'Averta', sans-serif;
        font-size: 24px;
        font-weight: bold;
      }

      &-title {
        font-size: 14px;
        font-weight: 500;
      }
    }

    &_pot {
      width: 50%;
      background-color: rgba(255, 136, 0, 0.03);
      border-radius: 12px 0 0 12px;
      color: #ff8800;

      &-value {
        &--currency {
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          color: rgba(255, 136, 0, 0.6);
          letter-spacing: 1px;
          margin-left: 7px;
        }
      }
    }

    &_players {
      width: calc(25% - 10px);
      background-color: rgba(245, 92, 69, 0.03);
      color: #f55c45;
    }

    &_count {
      width: 25%;
      background-color: rgba(225, 45, 129, 0.03);
      color: #E12D81;
      border-radius: 0 12px 12px 0;
    }
  }

  &__players {
    width: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
    cursor: s-resize;

    &::-webkit-scrollbar {
      display: none;
    }

    .winner {
      background: rgba(255, 255, 255, 0.04);
    }

    &_item {
      width: 100%;
      border-radius: 12px;
      background: rgba(255,255,255,0.02);
      padding: 15px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      &:first-child {
        margin-top: 12px;
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &-winner {
        border-radius: 20px;
        background: linear-gradient(90deg, #FF8800, #F55C45, #E12D81);
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        position: absolute;
        top: -12px;
        right: 25px;
        padding: 5px 7px;
      }

      &-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      &-number {
        display: flex;
        justify-content: center;
        align-content: center;
        font-family: 'Averta', sans-serif;
        font-size: 18px;
        font-weight: 600;
        margin-right: 20px;
      }

      &-player {
        display: flex;
        align-items: center;

        &--avatar {
          margin-right: 10px;

          img {
            width: 48px;
            height: 48px;
            border-radius: 100px;
          }
        }

        &--data {
          display: flex;
          flex-direction: column;

          &_name {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 5px;
          }

          &_tickets {
            color: rgba(255, 255, 255, 0.6);
            font-family: 'Averta', sans-serif;
            font-size: 14px;
            font-weight: 600;
          }
        }
      }

      &-bet {
        display: flex;
        flex-direction: column;

        &--value {
          font-family: 'Averta', sans-serif;
          font-size: 18px;
          font-weight: 600;
        }

        &--chance {
          color: rgba(255, 255, 255, 0.6);
          font-family: 'Averta', sans-serif;
          font-size: 14px;
          font-weight: 600;
          margin-top: 5px;
        }
      }
    }
  }
}