.header {
  width: 100%;
  background-color: #202036;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__nav {
    display: flex;
    align-items: center;

    &_logo {

    }

    &_item {
      display: flex;
      align-items: center;
      background-color: transparent;
      padding: 10px 20px;
      border-radius: 10px;

      &:hover {
        background-color: rgba(224, 224, 255, 0.04);
      }

      &:not(:last-child) {
        margin-right: 20px;
      }

      &-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 25px;
          height: 25px;
        }
      }
      &-name {
        margin-left: 10px;
        font-weight: 500;
      }
    }
  }

  &__additional {
    display: flex;
    align-items: center;

    &_rate {
      margin-right: 20px;
      color: #1db37c;
      font-size: 13px;
      font-weight: 600;
    }

    &_auth {
      display: flex;
      align-items: center;

      button, a {
        font-weight: 500;
        font-size: 15px;

        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }

    .currency-select {
      margin-right: 20px;
      position: relative;

      &__current {
        font-weight: bold;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__all {
        background-color: #2a2a41;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 40px;
        left: -40px;

        &_item {
          cursor: pointer;
          padding: 15px 20px;
          transition: all .3s;

          &:first-child {
            border-radius: 12px 12px 0 0;
          }

          &:last-child {
            border-radius: 0 0 12px 12px;
          }

          &:hover {
            background-color: rgba(255,255,255,0.05);
          }
        }
      }
    }
    
    .language-select {
      position: relative;
      margin-right: 20px;
      
      &__current {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      &__all {
        background-color: #2a2a41;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 40px;
        left: -30px;

        &_item {
          cursor: pointer;
          padding: 15px 20px;
          transition: all .3s;

          &:first-child {
            border-radius: 12px 12px 0 0;
          }

          &:last-child {
            border-radius: 0 0 12px 12px;
          }

          &:hover {
            background-color: rgba(255,255,255,0.05);
          }

          svg {
            &:not(:last-child) {
              margin-bottom: 10px;
            }
          }
        }
      }
    }

    .btn-dark {
      padding: 15px;
    }
    
    &_user {
      position: relative;
      cursor: pointer;

      &-value {
        padding: 10px;
        background-color: transparent;
        border-radius: 12px;
        transition: all .3s;

        &:hover {
          background-color: rgba(255,255,255,0.05);
        }

        svg {
          width: 35px;
          height: 35px;
        }
      }

      &-list {
        position: absolute;
        background-color: #2a2a41;
        border-radius: 12px;
        top: 70px;
        right: 0;

        &--item {
          cursor: pointer;
          transition: all .3s;
          padding: 15px 20px;
          display: flex;
          align-items: center;

          &:hover {
            background-color: rgba(255,255,255,0.05);
          }

          &:first-child {
            border-radius: 12px 12px 0 0;
          }

          &:last-child {
            border-radius: 0 0 12px 12px;
          }
        }
      }
    }
  }
}