.roulette-bet-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__data {

  }

  &__bets {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &_bet {
      font-family: 'Averta', sans-serif;
      font-weight: 600;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      width: 45px;
      height: 45px;
      color: rgba(255, 255, 255, 0.6);
      border: 1px solid rgba(255, 255, 255, 0.6);
      background-color: rgba(255, 255, 255, 0.02);
      transition: ease-in-out .3s;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &:hover {
        cursor: pointer;
        background-color: rgba(255,136,0,0.03);
        color: rgba(255,136,0,0.7);
        border: 1px solid rgba(255,136,0,0.7);
      }
    }
  }

  &_buttons {

  }
}