.table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    text-align: left;
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
  }

  th {
    color: #fff;
  }

  td {
    color: rgba(255, 255, 255, 0.6);
  }

  .table-hidden {
    width: 100px;
    position: relative;
    transition: all .3s;
    //cursor: pointer;

    &:hover {
      .table-hidden__full {
        display: block;
      }
    }

    &__full {
      position: absolute;
      background-color: #202036;
      color: #fff;
      z-index: 10000;
      padding: 10px 20px;
      border-radius: 12px;
      display: none;
      right: -10px;
    }
  }

  .danger {
    color: #ff00aa;
  }

  .success {
    color: #00ffaa;
  }

  .bold {
    font-weight: 600;
  }
}

.pagination {
  margin-top: 20px;
  display: flex;
  align-items: center;

  button {
    padding: 10px 15px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}