.table {
  width: 100%;
  border-collapse: collapse;

  tbody {
    tr {
      transition: all .3s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.02);
        cursor: pointer;

        td {
          &:first-child {
            border-radius: 12px 0 0 12px;
          }
          &:last-child {
            border-radius: 0 12px 12px 0;
          }
        }
      }
    }
  }

  th, td {
    text-align: left;
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
  }

  th {
    color: #fff;
  }

  td {
    color: rgba(255, 255, 255, 0.6);
  }

  .table-hidden {
    width: 100px;
    position: relative;
    transition: all .3s;
    //cursor: pointer;

    &:hover {
      .table-hidden__full {
        display: block;
      }
    }

    &__full {
      position: absolute;
      background-color: #202036;
      color: #fff;
      z-index: 10000;
      padding: 10px 20px;
      border-radius: 12px;
      display: none;
      right: -10px;
    }
  }

  .table-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    
    svg, img {
      width: 20px;
    }
  }

  .table-icon-block {
    display: flex;

    svg {
      width: 15px;
    }

    svg, span {
      margin-right: 10px;
    }
  }

  &-actions {
    display: flex;
    align-items: center;
  }

  .danger {
    color: #ff00aa;

    svg, span {
      color: #ff00aa;

      path {
        fill: #ff00aa;
      }
    }
  }

  .success {
    color: #00ffaa;

    svg, span {
      color: #00ffaa;

      path {
        fill: #00ffaa
      }
    }
  }

  .bold {
    font-weight: 600;
  }
}

.pagination {
  margin-top: 20px;
  display: flex;
  align-items: center;

  button {
    padding: 10px 15px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.ids-table {
  tr {
    td {
      &:first-child {
        width: 50px;
      }
    }
  }
}