.profile-deposit {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .deposit-container {
    width: 100%;
  }

  .card {
    &:first-child {
      width: calc(30% - 15px);
    }

    &:last-child {
      width: calc(70% - 15px);
    }
  }
}